@import "./variables/base";
@import "./variables/vairables";
*{
  padding:0;
  margin:0;
}
html{
  font-size:62.5%;
  body{

    font-family: var(--default-font);
    main{
      background:var(--color-white-1);
      .header-overlay{
        width:100%;
        height:100%;
        background:rgba($color: #000000, $alpha: 0.5);
      }
      header{
        height:100vh;
        background-image: url("/images/nastuh-abootalebi-yWwob8kwOCk-unsplash.jpg");
        background-size:cover;
        nav{
          display:flex;
          width:90%;
          margin:0 auto;
          
          justify-content:space-between;	
          .logo{
               margin-top:0.6rem;
               font-size:2rem;
               color:var(--color-white);
             }
          ul{
            display:flex;
             justify-content:flex-end;	
             align-items:flex-start;
             align-content:flex-start;
             .login-btn{
                  background:orange;
                  margin-top:1rem;
                  padding:1rem 2.5rem;
                  font-weight:500;
                  cursor:pointer;
                  border-radius:0.2rem; 
                 
                }
             li{
               list-style:none;
               padding:2rem;
               a{
                 text-decoration:none;
                 color:var(--color-white);
                 font-size: 1.6rem;
                }
                
             }
          }
        }
        .hero-section{
          width:90%;
          margin:10rem auto;
          display:flex;
          justify-content:center;
          align-items:center;
          align-items:center;
          flex-direction:column;
         
          height:25rem;
          h2{
            color:var(--color-white);
            font-size:3rem;
            span{
              color:orange;
            }
            
          }
          .filter-wrapper{
            background: var(--color-white);
           grid-template-columns:1fr 1fr 1fr 1fr;
            display:grid;
            width:90%;
            margin:0 auto;
            height:5rem;
            padding-top:0.5rem;
          padding-bottom:0.5rem;
            justify-content:center;
            border-radius:0.8rem;
            margin-top:7rem;
            .select{
              position:relative;
              background:none;
              border:none;
              height:80%;
              margin-top:0.5rem;
              border-right:1px solid #d8d8d8;
              select{
                outline: 0;
                box-shadow: none;
                border: 0 !important;
                width:100%;
                background-image: none;
                padding:0 2rem;

              }
                
                &:after {
                content: '\25BC';
                position: absolute;
                top: 1rem;
                right: 2rem;
                color:black;
                font-size:1.4rem; 
                cursor: pointer;
                pointer-events: none;
                -webkit-transition: .25s all ease;
                -o-transition: .25s all ease;
                transition: .25s all ease;
                }


            }
            select{
              background:none;
              border:none;
              padding:1rem 2rem;
              height:80%;
              margin-top:0.5rem;
              border-right:2px solid #d8d8d8;
              padding-right:4rem;
              -moz-appearance: none;
              -webkit-appearance: none;
              appearance: none;
            }
            .filter-search{
              background:orange;
              border:none;
              height:80%;
              border-radius:0.6rem;
              width: 90%;
              margin:0 auto;
              margin-top:0.5rem;
              color:white;
              text-transform:uppercase;
              font-size:1.8rem;
              position:relative;
              cursor:pointer;
              &:before{
                content:"\2315";
               display: inline-block;
              -webkit-transform: rotate(300deg);
              -moz-transform: rotate(300deg);
              -o-transform: rotate(300deg);
              -ms-transform: rotate(300deg);
              transform: rotate(270deg);
              position:absolute;
              left:4rem;
              top:-1rem;
              font-size:3rem;
              }
            }

            
          }
         
          
        }
     
      }

         .popular-locations{
           padding-top: 6rem;
          width:100%;
          height:100%;
          background:var(--color-white);
          margin:0 auto;
          margin-bottom:7rem;
          h3{
            text-align:center;
            font-size:3rem;
            margin:0 auto;
          }
          hr{
            width:20%;
            border: 3px solid var(--color-yellow);
            margin:0 auto;
            margin-bottom:3rem;
          }
          p{
            margin-top:5rem;
            text-align:center;
            width:60%;
            font-size:1.5rem;
            margin:0 auto;
            margin-bottom:4rem;
          }
          .four-row{
            
            display:flex;
            width:50%;
            margin:0 auto;
            .row-card{
             
              margin:0 auto;
              figure{
              
              img{
                border-radius:6px;
                
              }
              .caret{
                width:30px;
                height:30px;
                border-radius:50%;
               position:relative;
               top:-9rem;
               right:1.4rem;
               outline:none;
              }
              figcaption{
                color:var(--color-white	);
                margin-top:-6rem;
              }
            }
             
            }
          }
        }
        .featured-listing{
          padding-top: 6rem;
          width:100%;
          height:100%;
          background:var(--color-white);
          margin:0 auto;
          margin-bottom:7rem;
          h3{
            text-align:center;
            font-size:3rem;
            margin:0 auto;
          }
          hr{
            width:20%;
            border: 3px solid var(--color-yellow);
            margin:0 auto;
            margin-bottom:3rem;
          }
          p{
            margin-top:5rem;
            text-align:center;
            width:60%;
            font-size:1.5rem;
            margin:0 auto;
            margin-bottom:4rem;
          }
          .three-row{
            display:flex;
            width:63%;
            margin:0 auto;
            .row-card{
              margin:0 auto;
              figure{
            
                img{
                 
                  
                }
                .caret{
                  width:30px;
                  height:30px;
                  border-radius:50%;
                 position:relative;
                 top:-9rem;
                 right:1.4rem;
                 outline:none;
                }
                figcaption{
                  color:var(--color-white	);
                  margin-top:-20rem;
                  margin-bottom: 25rem;
                  
                }
              }
              .below-details{
                display:flex;
               box-shadow: var(--elevation-2dp);
                margin-top:-7rem;
                height: 60px;
                p{
                  font-size:12px;
                  margin-top: 4rem;
                }
              }
            }
          
          }
        }
        .featured-people{
          padding-top: 6rem;
          width:100%;
          height:100%;
          background:var(--color-white);
          margin:0 auto;
          margin-bottom:27rem;
          h3{
            text-align:center;
            font-size:3rem;
            margin:0 auto;
          }
          hr{
            width:20%;
            border: 3px solid var(--color-yellow);
            margin:0 auto;
            margin-bottom:3rem;
          }
          .three-row{
            display:flex;
            width:65%;
            margin:0 auto;
            .people-card{
              margin:0 auto;
              .rounded{
                margin:0 auto;
              img{
                border-radius:50%;
              }
            }
              .info{
                margin:0 auto;
                 font-size: 1.3rem;
                 width:70%;
                 text-align:center;
              }
              .button{
                width: 130px;
                height: 30px;
                border: 2px solid  var(--color-yellow);
                p{
                  color:var(--color-yellow);
                  font-size:1.5rem;
                 text-align:center;
                 margin-top:7px;
                }
              }
            }
       
      }
        }
      
  }
  
}
}